{% extends "app_feria/padre2.html" %}


{% block titulo %}

<h1 style="color:black ;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px; ;">
    Jeans
</h1>
{% endblock %}


{% block descripcion %}

<main class="container text-center">
    <div class="row">
        {% for v in fly %}
        <div class="col-md-6 align-items-center">
            <div class="card-body">
                
                <a class="list-group-item " style="border-radius:110px;border:outset;border-width: 3px;" href="{% url 'Detalle' v.id %}">
                
                    {% if v.imagen %}
                    <img class="card-img-top" 
                    src="{{v.imagen.url}}"style="
                    width: 339px;
                    height: 430px;" >
                    {% endif %}
                        
                    <h5 style="font-family:'Times New Roman', Times, serif ;">
                        Codigo {{v.codigo}}
                    </h5>
                    <h4 style="font-family:'Times New Roman', Times, serif ;">
                        <strong>${{v.precio}}</strong>
                    </h4>
                    
                            
                    {% if request.user.is_superuser %}
        
                    <a class="btn btn-danger col-md-3" href="{% url 'EliminaJean' v.codigo %}">
                        Eliminar Jean
                    </a>
                    <a class="btn btn-secondary col-md-3" href="{% url 'EditaJean' v.codigo %}">
                        Editar Jean
                    </a>
                    
                    {% endif %}
                    
                </a>
                
            </div>

           
        </div>
    

        {% endfor %}

    </div>

</main>


{% if request.user.is_superuser %}
<div>
    <a class="btn btn-secondary col-md-2" href="{% url 'Crear Jeans'  %}">
        Agregar Jean
    </a>
   
</div>

{% else %}

{% endif %}



{% endblock %}